:root{
    --body-text-color:#434455;
    --header-text-color:#2E2F42;
    --primary-brend-color:#4D5AE5;
    --pressed-state-color:#404BBF;
    --primary-color-white:#ffffff;
    --light-mode-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --subtle-text-color:#8E8F99;
    --transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

body{
    background-color:var(--primary-color-white);
    color:var(--body-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width:428px) {
    .container{
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:768px) {
    .container{
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container{
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width:767px) {
    .site-nav{
        display: none;
    }
    .kontakts-list{
        display: none;
    }
}

.main-nav{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;

}

.logo {
    color: var(--primary-brend-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logoelement {
    color: var(--header-text-color);
}

.mobile-menu-open{
    border-color: transparent;
    border:none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .mobile-menu-open{
        display: none;
    }
    
}

.mobile-menu-icon{
    stroke: var(--header-text-color);
}

.mobile-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--primary-color-white);

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu-container.is-open{
    transform: translateX(0);
}

@media screen and (min-width:768px) {
    .mobile-menu-container{
        display: none;
    }
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    left: 380px;
    border-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    height: 24px;
    width: 24px;
    background-color: #E7E9FC;
    border: 1px solid var(--header-text-color);
    border-radius: 50%;
    cursor: pointer;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--header-text-color);
}

.mobile-menu-link.active {
    color: var(--pressed-state-color);
}

.mobile-contact-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.contact-link-tel{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-brend-color);
}

.contact-link-email{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

.mobile-social-list{
    display: flex;
    gap: 56px;
}

.mobile-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-brend-color);
}

.mobile-social-icon{
    fill: var(--light-mode-color);
}

@media screen and (min-width:768px) {
    .header-box{
        display: flex;
        
    }

    .site-nav{
        display: flex;
        margin-left: 120px;
        gap: 40px;
    }

    .nav-link {
        position: relative;
        display: block;
        
        padding-bottom: 24px;
    
        color: var(--header-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
        transition: color var(--transition);
        }
    
    .nav-link:hover,
    .nav-link:focus {
        color: var(--pressed-state-color);
        }
    
    .nav-link.active {
        color: var(--pressed-state-color);
        }
    
        .nav-link.active:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
        }

    .kontakts{
        display: block;
        margin-left: auto;
        margin-top: 16px;
    }

    .kontakt-link{
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--body-text-color);
    }
}

@media screen and (min-width:1158px) {
    .main {
            border-bottom: 1px solid var(--accent-color);
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .site-nav{
        margin-left: 76px;
    }
    .kontakts{
        margin-top: 24px;
    }
    .kontakts-list{
        display: flex;
        gap: 40px;
    }
    .kontakt-link{
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     transition: color var(--transition);
    }
    .kontakt-link:hover,
    .kontakts-link:focus {
         color: var(--pressed-state-color);
    }
}




/*Header*/
/* .main{
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container{
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    margin-right: 76px;
    color:var(--primary-brend-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-nav{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}

.logoelement{
    color: var(--header-text-color);
}
.site-nav{
    display: flex;
    
}

.nav-link{
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--header-text-color);
    font-weight: 500;

    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    transition: color var(--transition);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--pressed-state-color);
}
.nav-link.active{
    color: var(--pressed-state-color);
}
.nav-link.active:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
}

.kontakts{
    font-style: normal;
    display: flex;
    margin-left: auto;
}
.kontakts-list .link{
    display: block;
    color:var(--body-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    transition: color var(--transition);
}
.kontakts-list .link:hover,
.kontakts-list .link:focus{
     color: var(--pressed-state-color);
}
.kontakts-list {
    display: flex;
}
.kontakts-list .item:not(:last-child){
    margin-right: 40px;
} */
/*Hero*/
/* .hero{
    padding-top: 188px;
    padding-bottom: 188px;
    background-color:var(--header-text-color);
    text-align: center;
}
.overlay{
    max-width: 1440px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.hero-title{
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}
.hero-btn{
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    padding: 16px 42px;
    border-radius: 4px;

    background-color: var(--primary-brend-color);
    color: var(--primary-color-white);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color var(--transition);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--pressed-state-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/*Sections Advantage*/
/* .section-advantage{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title{
    margin-bottom: 72px;
    color:var(--header-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.advantage-list{
    display: flex;
}
.advantage-list .advantage-item:not(:last-child){
    margin-right: 24px;
}
.advantage-list > .advantage-item{
    flex-basis: calc((100% - 72px) / 4);
}
.advantage-title{
    margin-bottom: 8px;
}
.advantage-icons{
    display: flex;
    height: 112px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--light-mode-color);
}
.advantage-title,
.team-title,
.project-title{
    color:var(--header-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
} */
/*Section Works*/

/* .section-works {
    padding-bottom: 120px;
}
.works-list{
    display: flex;
    margin-top: 72px;
}
.works-list > .works-item:not(:last-child){
    margin-right: 24px;
} */
/*Section Team*/

/* .section-team{
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
}

.team-title{
    margin-bottom: 8px;
}
.team-text{
    font-size: 16px;
}

.team-item{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-color-white);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
     rgba(46, 47, 66, 0.16), 0px 2px 1px
     rgba(46, 47, 66, 0.08);
}
.team-list .team-item:not(:last-child){
    margin-right: 24px;
}
.card-info{
    padding: 32px 0 32px;
}
.social-icons{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    gap: 24px;
}
.team-icon{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-brend-color);
    transition: background-color var(--transition);

}
.team-icon:hover,
.team-icon:focus{
    background-color: var(--pressed-state-color);
}
.icon{
    fill: var(--light-mode-color);
}
.team-bg{
    background-color: var(--light-mode-color);
}
     /*Section Customers*/

.section-customers{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-list{
    display: flex;
    gap: 24px;
    
}
.customers-link{
    display: flex;
    width: 168px;
    height: 88px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: border-color var(--transition),
    color var(--transition);
}
.customers-link .icon{
    fill: currentColor;
    
} 
.customers-link:hover,
.customers-link:focus{
    border: 1px solid var(--pressed-state-color);
    color: var(--pressed-state-color);
} */

           /*Footer*/
/* .bottom{
    background-color: var(--header-text-color);
    padding-bottom: 100px;
    padding-top: 100px;
}
.bottom-text{
    
    color:var(--light-mode-color) ;
}
.logo-bottom{
    display: inline-block;
    margin-bottom: 16px;
    color: var(--primary-brend-color);
    font-family: Raleway, sans-serif;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-el-footer{
    color: var(--light-mode-color);
}
.logo-section{
    max-width: 264px;
    margin-right: 120px;
}
.bottom-sections{
    display: flex;
    align-items: baseline;
}
.social-section{
    min-width: 208px;
    margin-right: 80px;
}
 .social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-white);
    margin-bottom: 16px;
}
.social-bottom-list{
    display: flex;
    gap: 16px;
}
.social-bottom-link{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-brend-color);
    transition: background-color var(--transition);
}
.social-bottom-link:hover,
.social-bottom-link:focus{
    background-color: #31D0AA;
}
.social-bottom-link .icon{
    margin: 8px;
}


.subscribe-form{
    display: flex;
}
.subscribe-form-desc{
    margin-right: 24px;
}
.subscribe-form-input{
    width: 264px;
    height: 40px;
    border:1px solid var(--primary-color-white);
    border-radius: 4px;
    padding-left:16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--primary-color-white);
    background-color: transparent;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}
.subscribe-form-input::placeholder{
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--primary-color-white);
}
.subscribe-form-input:focus{
    outline: none;
}
.subscribe-form-btn{
    display: flex;
    border: none;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    /* padding-left: 24px; */
    /* background-color: var(--primary-brend-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color-white);
}
.subscribe-btn-icon{
    margin-left: 16px;
    fill: var(--primary-color-white); */ */

/* } */
         /*Portfolio page*/

.gallery{
    padding-top: 96px;
    padding-bottom: 120px;
}
.gallery-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filter-btn{
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--light-mode-color);
    color: var(--primary-brend-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color var(--transition),
    color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);
}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--pressed-state-color);
    color: var(--primary-color-white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-filter .gallery-item:not(:last-child){
    margin-right: 24px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.projects-link{
    display: block;
    transition: box-shadow var(--transition);
}
.projects > .projects-item:not(:nth-child(3n + 3)){
    margin-right: 24px;
}
.projects > .projects-item:not(:nth-last-child(-n + 3)){
    margin-bottom: 48px;
}
.projects > .projects-item{
    width: calc((100% - 48px) / 3);
}
.projects > .projects-link{
    display: block;
}
.card-content{
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}
.project-title{
    margin-bottom: 8px;
}
.projects .projects-link{
    
    color: inherit;
}
.projects-link:hover,
.projects-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.action{
    position: relative;
    overflow: hidden;
}

.action-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition);
    color: var(--light-mode-color);
    background-color: var(--primary-brend-color);
}
.projects-link:hover .action-text,
.projects-link:focus .action-text{
    transform: translate(0, 0);
    
}

/*------MODAL-WINDOW------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition),
    visibility var(--transition);
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    padding: 72px 24px 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition);
}
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--header-text-color);
    cursor: pointer;
    transition: background-color var(--transition),
    border var(--transition);
}
.modal-btn-icon{
    fill: currentColor;
    transition: fill var(--transition);
}
.modal-btn:hover,
.modal-btn:focus{
    border: none;
    background-color: var(--pressed-state-color);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon{
    fill: var(--primary-color-white);
}

/*------MODAL-FORM------*/

.modal-form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--header-text-color);
}

.modal-form-label{
    margin-bottom: 8px;
}
.modal-form-desc{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: var(--subtle-text-color);
}
.modal-form-input-box {
    position: relative;
}
.modal-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid  rgba(46, 47, 66, 0.2);;
    background-color: transparent;
    transition: border-color var(--transition);
    outline: transparent;
}
.modal-form-input:focus{
    border: 1px solid var(--primary-brend-color);
}
.modal-form-label-message{
    margin-bottom: 16px
}
.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color var(--transition);
}
.modal-form-message:focus{
    outline: none;
    border: 1px solid var(--primary-brend-color);
}
.modal-form-message::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--header-text-color);
    transition: fill var(--transition);
}
.modal-form-input:focus + .modal-input-icon {
    fill: var(--primary-brend-color);
}
.modal-chekbox{
    margin-bottom: 24px;
}
.fake-checkbox{
    display: inline-flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border: 1px solid var(--header-text-color);
    border-radius: 2px;
    fill: transparent;
}

.modal-form-check:checked + .modal-form-check-desc .fake-checkbox{
    border: none;
    background-color: var(--pressed-state-color);
    border-color: var(--pressed-state-color);
    fill: var(--primary-color-white);
}

.modal-form-check-desc{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    margin-bottom: 24px;
    color: var(--subtle-text-color);
}
.policy-link{
    color: var(--primary-brend-color);
}

.modal-form-button{
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;

    background-color: var(--primary-brend-color);
    color: var(--primary-color-white);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition);
}

.modal-form-button:hover,
.modal-form-button:focus{
    background-color: var(--pressed-state-color);
}